<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
    <title>Extra Credit Flask App</title>
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="text-center">OMDB Movie Search</h1>
            <form action="/" class="form-inline md-form form-sm active-cyan-2 mt-2" method="POST">
                <input name="searchmovies" class="form-control form-control-sm mr-3 w-75"
                    placeholder="Find a Movie..." aria-label="Search">
                <i  aria-hidden="true"></i>
                <button class="btn-light" type="submit">Search</button>
            </form>
        </div>
        <div class="container-fluid row">
            {% if data %}
            {% for movie in data.Search %}
            <div class="col-md-3">
                <div class="well title text-center">
                    <a href="http://www.omdbapi.com/?apikey=36921cd1&i={{movie.imdbID}}">
                     <img src="{{movie.Poster}}" alt="">
                    </a>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
</body>
</html>
